<app-employee></app-employee>
<h2>{{header}}</h2>
<p>{{x+y}}</p>
<p>{{available? 'Yash is available' : 'Bhawana will handle'}}</p>
<ul>
  <li>Bhawana</li>
  <li>Yash</li>
</ul>

<h3>Property Binding</h3>
Static Name:<input type="text" value="tong">
Dynamic Name :<input type="text" [value]="name">

<h3>Event Binding</h3>
<button (click)="handleClick($event)">Click Me!</button>

<h3>Two way data binding</h3>
<input type="text" [(ngModel)]="company">
<div>{{company}}</div>

<h3 #template class="header">Template reference</h3>
<button (click)="handleSSN(ssn.value)">Get SSN!</button>
SSN : <input type="text" #ssn>


<h3>Structural Directives & Attribute Directives</h3>
<div *ngIf="available" class="available"> Yash Is Available today</div>

<h5>Course Details</h5>
<ul>
  <li class="courselist" 
  *ngFor="let item of courses;let i=index"
   [ngClass]="{'courseOnline': item.online,'courseOffline':! item.online}">   
    {{i}}:{{item.name}},{{item.fee}}
  </li>
</ul>

<h5>NgStyle Directive demo</h5>

<div>
  Color: <input type="text" placeholder="Enter some value" [(ngModel)]="myColor">
  <div [ngStyle]="{color: myColor}">
    <p>CHina</p>
    <p>India</p>
    <p>US</p>
  </div>
</div>


<h3>Pipes Demo</h3>

<ul>
    <li class="courselist" 
    *ngFor="let item of courses;let i=index">   
       {{item.name | uppercase}},{{item.fee |currency}}
    </li>
  </ul>



