/* You can add global styles to this file, and also import other style files */


.mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0,0,0,0.4) !important;   
   
  } 
  .mat-drawer {
    background-color: #fff;
    box-shadow: -4px 4px 5px 0 rgba(47, 47, 47, 0.3); 
   
  }
  @import "~@angular/material/prebuilt-themes/indigo-pink.css";
 
  @import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
  

  